/.trae/
.idea
data
/.uploads/
/node_modules/
/package-lock.json
baazi_error.log
/logs/
/test_env/
config.ini
logs
__pycache__
ui/__pycache__
core/__pycache__
/.vscode/
utils/__pycache__
ui/components/__pycache__
/.workbuddy/
